/* ==========================================================================
   Obsidian Cleaning Service Plugin Styles
   ========================================================================== */

/* Don't use width or height style attributes except in special cases */
/* This ensures the plugin works on mobile */

/* Modal Footer */
.cleaning-service-modal-footer {
	/* float: right; */
	padding: 10pt;
	display: flex;
}

.cleaning-service-modal-footer button {
	margin-left: 4px;
}

.cleaning-service-modal-footer .cleaning-service-footer-buttons {
	flex: 1;
	justify-content: flex-end;
	display: flex;
}

.cleaning-service-scan-section-title {
	font-size: larger;
	margin-bottom: 5pt;
	font-weight: 600;
}

.cleaning-service-modal-title {
	text-align: center;
	font-size: 150%;
	margin-bottom: 10px;
}

.cleaning-service-file {
	margin-left: 1em;
	position: relative;
}

.cleaning-service-file:hover {
	background-color: var(--background-primary);
}

/* Icon for opening files */
.cleaning-service-file .openFileIcon {
	right: 0px;
	position: absolute;
	/* cursor: pointer; */
	visibility: hidden;
}

.cleaning-service-file label {
	width: 100%;
	/* cursor: pointer; */
	display: flex;
}

.cleaning-service-file span {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	margin-right: 4em;
}

.cleaning-service-file:hover .openFileIcon {
	visibility: visible;
}

.cleaning-service-file:focus {
	outline: auto;
}

.cleaning-service-scan-results {
	overflow-y: auto;
	max-height: 250px;
}

.cleaning-service-files-wrapper {
	/* overflow-y: auto; */
	/* max-height: 180px; */
	/* border: 1px solid; */
	padding: 5px;
}

.cleaning-service-date-picker {
	padding: 5px;
}

.cleaning-service-date-picker label span {
	margin-right: 1em;
}

/* Date picker buttons */
.cleaning-service-date-picker-buttons {
	float: right;
}

.cleaning-service-date-shortcuts {
	white-space: nowrap;
	margin-top: 1em;
	text-align: center;
}

.cleaning-service-date-shortcuts .cleaning-service-date-picker-buttons {
	display: inline-block;
}

/* Ribbon icon class */
.cleaning-service-ribbon-class {
	/* Custom styles for ribbon icon if needed */
}
